<a href="https://colab.research.google.com/github/AnannyaMishra/AnannyaMishra/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
b=int(input("enter number:"))
sum=0
x=1
while x<=b:
    sum+=x
    x+=1
    print('The sum of natural number=',sum)

enter number:6
The sum of natural number= 1
The sum of natural number= 3
The sum of natural number= 6
The sum of natural number= 10
The sum of natural number= 15
The sum of natural number= 21

In [5]:
c=int(input('enter a number:'))
fact=1
for i in range(1,c+1):
  fact=fact*i
  print('the factorial of',c,'is',fact)

enter a number:5
the factorial of 5 is 1
the factorial of 5 is 2
the factorial of 5 is 6
the factorial of 5 is 24
the factorial of 5 is 120

In [10]:
d=int(input('enter any number'))
print('the list of natural number from 1','to', d)
for i in range(1,d+1):
  print(i,end='')

enter any number100
the list of natural number from 1 to 100
123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [13]:
a=int(input('enter a number:'))
for i in range(1,11):
  print(a,'x',i,'=',a*i)

enter a number:10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100