In [62]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [45]:
colnames = ['preg', 'glu', 'bp', 'sft', 'ins', 'bmi', 'dpf', 'age', 'outcome']
prima_df = pd.read_csv("pima-indians-diabetes-1.data",names=colnames)
prima_df.head()

   preg  glu  bp  sft  ins   bmi    dpf  age  outcome
0     6  148  72   35    0  33.6  0.627   50        1
1     1   85  66   29    0  26.6  0.351   31        0
2     8  183  64    0    0  23.3  0.672   32        1
3     1   89  66   23   94  28.1  0.167   21        0
4     0  137  40   35  168  43.1  2.288   33        1

In [46]:
X=prima_df[['preg', 'glu', 'bp', 'sft', 'ins', 'bmi', 'dpf', 'age']]
Y=prima_df['outcome']

In [47]:
X.head()

   preg  glu  bp  sft  ins   bmi    dpf  age
0     6  148  72   35    0  33.6  0.627   50
1     1   85  66   29    0  26.6  0.351   31
2     8  183  64    0    0  23.3  0.672   32
3     1   89  66   23   94  28.1  0.167   21
4     0  137  40   35  168  43.1  2.288   33

In [48]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: outcome, dtype: int64

In [49]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=0)

scaler=StandardScaler()
scaler=scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [50]:
model=LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [51]:
predictions = model.predict(X_test)

In [52]:
score=accuracy_score(Y_test,predictions)
score

0.7792207792207793

In [53]:
confusion_matrix(Y_test,predictions)

array([[141,  16],
       [ 35,  39]], dtype=int64)

In [54]:
tp,fp,fn,fp=confusion_matrix(Y_test,predictions).ravel()
(tp,fp,fn,fp)

(141, 39, 35, 39)

In [55]:
matrix=classification_report(Y_test,predictions)
print(matrix)

              precision    recall  f1-score   support

           0       0.80      0.90      0.85       157
           1       0.71      0.53      0.60        74

    accuracy                           0.78       231
   macro avg       0.76      0.71      0.73       231
weighted avg       0.77      0.78      0.77       231