<a href="https://colab.research.google.com/github/AnannyaMishra/AnannyaMishra/blob/main/exam_result.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

df = pd.DataFrame(exam_data , index=labels)
print(df)

         name  score  attempts qualify
1   Anastasia   12.5         1     yes
2        Dima    9.0         3      no
3   Katherine   16.5         2     yes
4       James    NaN         3      no
5       Emily    9.0         2      no
6     Michael   20.0         3     yes
7     Matthew   14.5         1     yes
8       Laura    NaN         1      no
9       Kevin    8.0         2      no
10      Jonas   19.0         1     yes