<a href="https://colab.research.google.com/github/AnannyaMishra/AnannyaMishra/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [ ]:
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s3=pd.Series({'a':10,'b':20,'c':30})
s3

a    10
b    20
c    30
dtype: int64

In [ ]:
s4=pd.Series({'a':10,'b':20,'c':30},index=['x','y','z'])
s4

x   NaN
y   NaN
z   NaN
dtype: float64

In [ ]:
s5=pd.Series({'a':10,'b':20,'c':30},index=['b','c','d','a'])
s5

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [ ]:
s6=pd.Series([10,21,35,46,55,6,78,90,12])
s6

0    10
1    21
2    35
3    46
4    55
5     6
6    78
7    90
8    12
dtype: int64

In [ ]:
s6[6]

78

In [ ]:
s6[4]

55

In [ ]:
s6[1:7]

1    21
2    35
3    46
4    55
5     6
6    78
dtype: int64

In [ ]:
s6[:7]

0    10
1    21
2    35
3    46
4    55
5     6
6    78
dtype: int64

In [ ]:
s6[3:]

3    46
4    55
5     6
6    78
7    90
8    12
dtype: int64

In [ ]:
s6[-3:-7]

Series([], dtype: int64)

In [ ]:
s6[-7:-3]

2    35
3    46
4    55
5     6
dtype: int64

In [ ]:
s6[-3:]

6    78
7    90
8    12
dtype: int64

In [ ]:
s7=pd.Series([10,20,30,40,50])
s7 +5

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [ ]:
s8=pd.Series([1,2,3,4,5,6,7,8,9,10])
s9=pd.Series([10,20,30,40,50,60,70,80,90,100])
s8,s9

(0     1
 1     2
 2     3
 3     4
 4     5
 5     6
 6     7
 7     8
 8     9
 9    10
 dtype: int64, 0     10
 1     20
 2     30
 3     40
 4     50
 5     60
 6     70
 7     80
 8     90
 9    100
 dtype: int64)

In [ ]:
s8+s9

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    110
dtype: int64

In [ ]:
s10=pd.Series([1,2,3,4,5,6,7,8,9,10])
s11=pd.Series([10,20,30,40,50,60,70,80,90,100])
s11-s10

0     9
1    18
2    27
3    36
4    45
5    54
6    63
7    72
8    81
9    90
dtype: int64

In [ ]:
s12=pd.Series([1,2,3,4,5,6,7,8,9,10])
s13=pd.Series([10,20,30,40,50,60,70,80,90,100])
s12*s13

0      10
1      40
2      90
3     160
4     250
5     360
6     490
7     640
8     810
9    1000
dtype: int64

In [ ]:
s13=pd.Series([1,2,3,4,5,6,7,8,9,10])
s14=pd.Series([10,20,30,40,50,60,70,80,90,100])
s14/s13

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5    10.0
6    10.0
7    10.0
8    10.0
9    10.0
dtype: float64

In [ ]:
s15=pd.Series([10,20,30,40,50,60,70,80,90,100])
s15**2

0      100
1      400
2      900
3     1600
4     2500
5     3600
6     4900
7     6400
8     8100
9    10000
dtype: int64

In [ ]:
s16=pd.Series([10,20,30,40,50,60,70,80,90,100])
s16**3

0       1000
1       8000
2      27000
3      64000
4     125000
5     216000
6     343000
7     512000
8     729000
9    1000000
dtype: int64

In [ ]:

s17=pd.DataFrame({"Name":['Alisha','Bisakha','Dibya','Biswa','Prakas'],
                  "Marks":[78,89,65,55,49],
                  "Grade":['A','E','A','B','C']})
s17

      Name  Marks Grade
0   Alisha     78     A
1  Bisakha     89     E
2    Dibya     65     A
3    Biswa     55     B
4   Prakas     49     C

In [ ]:
s18=pd.Series([1,2,3,4,5],[6,7,8,9,10])
s18

6     1
7     2
8     3
9     4
10    5
dtype: int64

In [ ]:
Data =[[2, 3, 4], [5, 6, 7]]  
snd = pd.Series(Data)

In [ ]:
snd

0    [2, 3, 4]
1    [5, 6, 7]
dtype: object