<a href="https://colab.research.google.com/github/AnannyaMishra/AnannyaMishra/blob/main/Pyramid_Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
rows=int(input('Enter number of rows: '))
for i in range(rows):
  for j in range(i+1):
    print('#',end='')
  print('\n')

Enter number of rows: 5
#

##

###

####

#####

In [ ]:
rows=int(input('Enter number of rows: '))
for i in range(rows,0,-1):
  for j in range(0,i):
    print('*',end='')
  print('\n')

Enter number of rows: 5
*****

****

***

**

*

In [ ]:
rows=int(input('Enter number of rows: '))
for i in range(rows):
  for j in range(i+1):
    print(j+1, end='')
  print('\n')

Enter number of rows: 5
1

12

123

1234

12345

In [ ]:
rows=int(input('Enter number of rows: '))
for i in range(rows,0,-1):
  for j in range(1,i+1):
    print(j, end='')
  print('\n')

Enter number of rows: 5
12345

1234

123

12

1

In [ ]:
rows=int(input('Enter number of row: '))
ascii_value=65
for i in range(rows):
  for j in range(i+1):
    alphabet=chr(ascii_value)
    print(alphabet,end='')
  ascii_value +=1
  print('\n')

Enter number of row: 9
A

BB

CCC

DDDD

EEEEE

FFFFFF

GGGGGGG

HHHHHHHH

IIIIIIIII

In [ ]:
rows=int(input('Enter number of row: '))
ascii_value=97
for i in range(rows):
  for j in range(i+1):
    alphabet=chr(ascii_value)
    print(alphabet,end='')
  ascii_value +=1
  print('\n')

Enter number of row: 6
a

bb

ccc

dddd

eeeee

ffffff

In [8]:
rows = int(input("Enter number of rows: "))
k = 0
for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [6]:
rows = int(input("Enter number of rows: "))
k = 0
count=0
count1=0
for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    count1 = count = k = 0
    print()

Enter number of rows: 6
          1
        2 3 2
      3 4 5 4 3
    4 5 6 7 6 5 4
  5 6 7 8 9 8 7 6 5
6 7 8 9 10 11 10 9 8 7 6

In [7]:
rows = int(input("Enter number of rows: "))
for i in range(rows, 1, -1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print()

Enter number of rows: 6
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *